<h2>Total Spent <%= @transaction_total %></h2>

<form class="sort" action="/transactions/sort" method="get">
  <input type="submit" value="Sort by date">
</form>

<form action="/transactions/filter_merchant" method="post">
  <select name="merchant_id" id="merchants">
    <option value=0>All</option>
    <% for merchant in @merchants %>
    <option value="<%= merchant.id %>"><%= merchant.name %></option>
    <% end %>
  </select>
  <input type="submit" value="Filter by merchant">
</form>

<form action="/transactions/filter_tag" method="post">
  <select name="tag_id" id="tags">
    <option value=0>All</option>
    <% for tag in @tags %>
    <option value="<%= tag.id %>"><%= tag.name %></option>
    <% end %>
  </select>
  <input type="submit" value="Filter by tag">
</form>

<form action="/transactions/filter_amount" method="post">
  <label for="lower">Lower Limit</label>
  <input id="lower" type="number" step="1" min="0" name="lower" value="0" required>
  <label for="upper">Upper Limit</label>
  <input id="upper" type="number" step="1" min="1" name="upper" value="1000" required>
  <input type="submit" value="Filter by amount">
</form>

<div class="transaction--container">
  <% for transaction in @transactions %>
  <div class="transaction--box">
    <p><%= transaction.time_stamp %></p>
    <p><%= transaction.merchant.name %> : <%= transaction.tag.name %></p>
    <p><%= transaction.amount %></p>
    <form class="delete" action="transactions/<%= transaction.id %>/delete" method="post">
      <input type="submit" value="Remove Transaction">
    </form>
  </div>
  <% end %>
</div>
