<h2>Total Spent <%= @transaction_total %></h2>

<form action="/transactions/filter" method="get">
  <select name="merchant_id" id="merchants">
    <option value=0>All</option>
    <% for merchant in @merchants %>
    <option value="<%= merchant.id %>"><%= merchant.name %></option>
    <% end %>
  </select>

  <select name="tag_id" id="tags">
    <option value=0>All</option>
    <% for tag in @tags %>
    <option value="<%= tag.id %>"><%= tag.name %></option>
    <% end %>
  </select>

  <label for="lower">Lower Limit</label>
  <input id="lower" type="number" step="1" min="0" name="lower" value="0" required>
  <label for="upper">Upper Limit</label>
  <input id="upper" type="number" step="1" min="1" name="upper" value="1000" required>
  <label for="sort">Sort by most expensive?</label>
  <input type="checkbox" id="sort" name="sort" value=true>

  <select name="month" id="month">
    <option value="">All</option>
    <% for month in @months %>
    <option value="<%= month %>"><%= month %></option>
    <% end %>
  </select>

  <input type="submit" value="Filter">
</form>


<div class="transaction--container">
  <% for transaction in @transactions %>
  <div class="transaction--box">
    <p><%= transaction.time_stamp %></p>
    <p><%= transaction.merchant.name %> <img src="https://www.google.com/s2/favicons?domain=www.<%= transaction.merchant.name %>.com" /> </p>
    <p style="color:<%= transaction.tag.color%>;"><%= transaction.tag.name %></p>
    <p><%= transaction.amount %></p>
    <form class="delete" action="transactions/<%= transaction.id %>/delete" method="post">
      <input type="submit" value="Remove Transaction">
    </form>
  </div>
  <% end %>
</div>
