<h2>Current Budget</h2>
<% if @latest_budget.over? %>
<p> You have already hit your budget this month!</p>
<% elsif @latest_budget.almost_over? %>
<p> Warning, you have almost reached your budget!</p>
<% end %>
<p>For <%= @date_today_compact %></p>
<p>Budget: <%= @latest_budget.amount %></p>
<p>Money spent: <%= @total_spent %></p>
<form action="/budget" method="post">
  <input type="number" name="amount" step="0.01" min="0.01" value="<%= @latest_budget.amount %>" required>
  <input type="submit" value="Change budget for this month">
</form>

<table>
    <tr>
 <th>Month</th>
 <th>Budget</th>
 <th>Money Spent</th>
 <th>Difference</th>
    </tr>
  <% for i in 0..5 %>
  <tr>
    <td>
    <%= @months[i] %>
  </td>
  <td>
    <%= @budgets[i].amount %>
  </td>
  <td>
    <%= @total_transactions[i] %>
  </td>
  <td>
    <%= (@budgets[i].amount -  @total_transactions[i]).round(2) %>
  </td>
  </tr>
  <% end %>
</table>
